.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://www.tastingtable.com/img/gallery/new-report-shows-people-prefer-a-pre-covid-restaurant-experience/l-intro-1658944491.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

.app-name {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(247, 243, 3, 0.2);
  color: #fff;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.food-item img {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 250px;
}
.food-item {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.food-item-content {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.food-item-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.food-item-description {
  line-height: 1.5;
  margin-bottom: 10px;
}
